/* Original Styles */
/* Grid */
.tl-grid-dashboard-course-wrapper .tl-grid-dashboard-image-wrapper .mask i { font-size:40px }
.tl-grid-dashboard-course-wrapper .tl-grid-dashboard-image-wrapper .mask .icon-pencil { margin-right:16px }
.tl-grid-dashboard-course-wrapper .tl-grid-dashboard-image-wrapper img { max-height:200px; width:100% }
.tl-grid-dashboard-course-wrapper .tl-grid-dashboard-image-wrapper { height:145px;line-height:145px}
.tl-grid-catalog-course-wrapper .tl-grid-catalog-image-wrapper img,.tl-grid-catalog-course-wrapper .tl-grid-marketplace-image-wrapper img,.tl-grid-marketplace-course-wrapper .tl-grid-catalog-image-wrapper img,.tl-grid-marketplace-course-wrapper .tl-grid-marketplace-image-wrapper img {
  max-height:200px;
  vertical-align:middle;
  width:100%
}
#grid_course_catalog_wrapper #grid_course_catalog_info,#grid_marketplace_wrapper #grid_marketplace_info {
  padding-top:3px
}
.tl-grid-catalog-course-wrapper .tl-grid-catalog-image-wrapper,.tl-grid-catalog-course-wrapper .tl-grid-marketplace-image-wrapper,.tl-grid-marketplace-course-wrapper .tl-grid-catalog-image-wrapper,.tl-grid-marketplace-course-wrapper .tl-grid-marketplace-image-wrapper {
  height:145px;
  line-height:145px;
  overflow:hidden;
  position:relative
}
.tl-grid-catalog-course-wrapper .tl-grid-catalog-course-title,.tl-grid-catalog-course-wrapper .tl-grid-marketplace-course-title,.tl-grid-marketplace-course-wrapper .tl-grid-catalog-course-title,.tl-grid-marketplace-course-wrapper .tl-grid-marketplace-course-title,.tl-grid-dashboard-course-wrapper .tl-grid-dashboard-course-title { border-top:1px solid #ccc }
.grid-striped thead tr th { font-size:.9em; text-transform:uppercase }
fieldset legend,.tl-gamification-entity-header {
  font-size:1.1em;
  font-weight:700;
  text-transform:uppercase
}
div#tl-courses-grid_info {
  background:rgba(99,109,116,0.5);
  border-radius:100px;
  box-shadow:0 1px 0 #ffffff,inset 0 1px 2px rgba(0,0,0,0.25);
  color:#fff;
  font-size:12px;
  font-weight:400;
  line-height:1.4;
  min-width:40px;
  padding:4px 10px 3px;
  text-align:center
}
.grid-striped th,.grid-striped td { line-height:28px }
.grid-striped tbody tr:nth-child(even):not(:hover) td, .grid-striped tbody tr:nth-child(even):not(:hover) th {
  background-color:#f5f5f5;
}
.grid-striped tbody tr:nth-child(odd) td, .grid-striped tbody tr:nth-child(odd) th, .grid-striped tbody tr:nth-child(even) td, .grid-striped tbody tr:nth-child(even) th {
  border-bottom:0;
  border-top:0;
}
#grid_course_catalog_filter { margin:7px 13px 0 14px !important }
#tl-discussions .dataTables_wrapper { padding:0 3px 0 0 }
#tl-discussions div.tl-header-tools { padding:16px 24px }
#tl-discussions-grid_wrapper { margin:0 10px 10px }

/* Buttons */
.btn { font-weight:700 }
.btn:not(.dropdown-toggle):not(.tl-grid-goto-next):not(.tl-grid-goto-previous) {
  padding-left:16px;
  padding-right:16px
}
.btn-primary,.btn-success,.btn-warning,.btn-info,.btn-danger { font-weight:700 }
.btn-danger { background-color:#dd2c00 }
.btn-success { background-color:#008c38 }
.dt-button { color:#555}
.btn,.btn-primary,.btn-success,.btn-warning,.btn-info,.btn-danger,.tl-title,.dataTables_info,.dropdown-toggle,.btn-group > .btn + .dropdown-toggle {
  -webkit-box-shadow:none;
  background-image:none;
  box-shadow:none;
  text-shadow:none
}
.btn-primary:not(.dropdown-toggle):not(.btn-mini),.btn-success:not(.dropdown-toggle):not(.btn-mini),.btn-warning:not(.dropdown-toggle):not(.btn-mini),.btn-info:not(.dropdown-toggle):not(.btn-mini),.btn-danger:not(.dropdown-toggle):not(.btn-mini) { min-width:88px }
.btn.disabled,.btn[disabled] {
  background-color:#dedede;
  border:none;
  color:#898989;
  cursor:not-allowed;
  opacity:1
}

/* Labels */
.label,.badge { background-color:#b0bec5}
.label { border-radius:4px; text-shadow:none }
.label-login,.label-default,.label-tc-completed,.label-tc-passed,.label-completed,.label-file-visibility-user,.label-file-type-user,.label-success { background-color:#00c853}
.label-trainer,.label-pending,.label-registration,.label-course,.label-file-visibility-all,.label-file-type-group { background-color:#ffab00 }
.label-certification,.label-update,.label-delete,.label-create,.label-expires,.label-failure,.label-inactive,.label-tc-failed,.label-failed,.label-file-visibility-hidden { background-color:#ef5350 }
.label-learner,.label-user,.label-tc-attempted,.label-tc-experienced,.label-file-type-branch,.label-info {
  background-color:#0091ea
}

/* Navigation bar */
.navbar .nav > li > a:not(.btn),.navbar .nav > li > a:not(.btn) >i { font-weight:500!important}
.nav-tabs > .active > a,.nav-tabs > .active > a:hover,.nav-tabs > .active > a:focus {
  border:0;
  border-bottom:3px solid #333;
  margin-right:0
}
a#tl-navbar-course-name {  padding-top:16px }
.navbar-inner {
  -webkit-box-shadow:none;
  background-image:none;
  border:none;
  border-bottom:1px solid #cfd8dc;
  box-shadow:none;
  padding-bottom:5px;
  padding-top:5px
}
.navbar .nav > li > a {
  font-size:.95em;
  padding:16px 10px 17px;
  text-shadow:none;
  text-transform:uppercase
}
.navbar .nav > li > a:hover,.navbar .nav > li > a:focus { font-weight:600}
.navbar .brand {
  color:#777;
  font-size:1.2em;
  font-weight:700;
  margin-top:3px;
  text-shadow:none;
  text-shadow:none
}
.nav-tabs > li > a { padding-bottom:10px;  padding-top:10px }
.navbar .nav li.dropdown.open > .dropdown-toggle,.navbar .nav li.dropdown.active > .dropdown-toggle,.navbar .nav li.dropdown.open.active > .dropdown-toggle { font-weight:700}
.navbar .nav li.dropdown > a:hover .caret,.navbar .nav li.dropdown > a:focus .caret {
  border-bottom-color:#cfd8dc;
  border-top-color:#cfd8dc
}
.navbar .nav li.dropdown > .dropdown-toggle .caret {
  border-bottom-color:#cfd8dc;
  border-top-color:#cfd8dc
}
.navbar .nav li.dropdown.open > .dropdown-toggle .caret {
  border-bottom-color:#cfd8dc;
  border-top-color:#cfd8dc
}

.navbar-inner .dropdown .caret { opacity:.7 }
#tl-header-gamification-entrance,#tl-backto-administrator,#tl-switchto-branch-goback { color:#fff }
#message_counter {
  background:#b4bbbf;
  border-radius:8px;
  color:#fff;
  font-size:11px
}
.brand > .avatar-square { border-radius:0;  max-width:200px }
.tl-title {
  -webkit-box-shadow:none;
  background-image:none;
  border-radius: 6px 6px 0 0;
  box-shadow:none;
  font-weight:700;
  height:54px;
  line-height:54px;
  padding:0;
  padding-left:24px
}

/* Show rating on top of image in course catalog*/
.gridCourseCatalog .tl-course-rating,.gridCourseCatalog .tl-course-rating, .gridCourseCatalog .tl-marketplace-course-rating, .tl-grid-marketplace-course-wrapper .tl-marketplace-course-rating {
  background:#fff;
  margin-top:-34px;
  opacity:.9;
  padding-top:6px
}

/* Show gray bubble on page counter */
.dataTables_info {
  background:rgba(99,109,116,0.5);
  border-radius:100px;
  color:#fff;
  font-size:12px;
  font-weight:400;
  line-height:1.4;
  min-width:40px;
  padding:4px 10px;
  text-align:center
}

/* Input border color */
textarea,input[type="text"],input[type="password"],input[type="datetime"],input[type="datetime-local"],input[type="date"],input[type="month"],input[type="time"],input[type="week"],input[type="number"],input[type="email"],input[type="url"],input[type="search"],input[type="tel"],input[type="color"],.uneditable-input,.select2-container .select2-choice { border-color:#cfd8dc }

/* Box */
.tl-box{ -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, .1); -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, .1); box-shadow: 0 1px 8px rgba(0, 0, 0, .1); border-radius: 0px 0px 6px 6px; }
.tl-box-border { border: none; }

/* Icons */
div.tl-icons-block .tl-icon-label div:first-child,div.tl-icons-block .tl-icon-title { 
  font-size:1.1em;
  text-transform:uppercase
}
/* Alert boxes */
.alert .close { top:0 }
.alert p { margin-bottom:0 }

/* Various */
.tl-title .tl-box-title-options a,.tl-title .tl-box-title-options span { font-size:13px;  font-weight:500}
ul.dynatree-container li { padding-top:0}
.tl-body { background-image:none; text-shadow:none!important }
.avatar-square { border-radius:0 }
.progress .bar { color:#fff }
p#branch-url { font-size:.8em }
#tl-backto-administrator,#tl-switchto-branch-goback { color:#fff }
.form-actions { background-color:#fff; margin-bottom:0 }
.note-popover .popover .popover-content>.btn-group,.note-toolbar>.btn-group { margin-right:3px!important}
.tl-tree-courses-list { margin-left:12px; margin-right:12px}
.dataTables_filter input:not(.btn) { border-radius:4px !important; }

/* Improvements on smaller resolutions */
@media (max-width: 979px) {
  .navbar .nav > li > a:hover, .navbar .nav > li > a:focus { color:#111111; }
  .navbar .nav > li > a {
    color:#555555;
    text-shadow:none;
   }
  .navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle { color:#555555; }  
  .nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a { color:#555555; }  
  .navbar .nav > li > a:hover, .navbar .nav > li > a:focus { color:#cccccc; }
  .nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a { font-weight:500; }
  #tl-users-header-tools { padding:4px; }  
  .navbar .btn-navbar { margin-top:10px; }  
   div.tl-icons-block {
     float:left;
     width:48%;
     margin-top:2px;
     margin-left:2px;
   }
}
@media (max-width: 979px) and (min-width: 768px) {
  #tl-main-body .row-fluid,.row { padding-left:5px;  padding-right:5px }
}
@media (max-width: 768px) {
  .navbar .brand { padding-top:5px }
  .brand > .avatar-square { padding-top:0 }
  .navbar-inner { padding-top:0 }
  .tl-grid-dashboard-course-wrapper .tl-grid-dashboard-course-title { border:0 }
}
.label-section{background-color: #999999;}
.label-section-delay-left{-webkit-border-radius: 3px 0px 0px 3px; -moz-border-radius: 3px 0px 0px 3px; border-radius: 3px 0px 0px 3px;}
.label-section-delay-right{-webkit-border-radius: 0px 3px 3px 0px; -moz-border-radius: 0px 3px 3px 0px; border-radius: 0px 3px 3px 0px;background-color: #76929a;}

.grid-striped tbody.gridUsersTableBody tr:nth-child(even):not(:hover) td { 
  background-color:white; 
}

/* cyrillic-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/KFOlCnqEu92Fr1MmSU5fCRc4EsA.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/KFOlCnqEu92Fr1MmSU5fABc4EsA.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/KFOlCnqEu92Fr1MmSU5fCBc4EsA.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/KFOlCnqEu92Fr1MmSU5fBxc4EsA.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/KFOlCnqEu92Fr1MmSU5fCxc4EsA.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/KFOlCnqEu92Fr1MmSU5fChc4EsA.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/KFOlCnqEu92Fr1MmSU5fBBc4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/KFOmCnqEu92Fr1Mu5mxKOzY.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/KFOmCnqEu92Fr1Mu7mxKOzY.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/KFOmCnqEu92Fr1Mu4WxKOzY.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/KFOmCnqEu92Fr1Mu7WxKOzY.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/KFOmCnqEu92Fr1Mu7GxKOzY.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/KFOmCnqEu92Fr1Mu4mxK.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/KFOlCnqEu92Fr1MmEU9fCRc4EsA.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/KFOlCnqEu92Fr1MmEU9fABc4EsA.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/KFOlCnqEu92Fr1MmEU9fCBc4EsA.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/KFOlCnqEu92Fr1MmEU9fBxc4EsA.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/KFOlCnqEu92Fr1MmEU9fCxc4EsA.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/KFOlCnqEu92Fr1MmEU9fChc4EsA.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/KFOlCnqEu92Fr1MmEU9fBBc4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/KFOlCnqEu92Fr1MmWUlfCRc4EsA.woff2) format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/KFOlCnqEu92Fr1MmWUlfABc4EsA.woff2) format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/KFOlCnqEu92Fr1MmWUlfCBc4EsA.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/KFOlCnqEu92Fr1MmWUlfBxc4EsA.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/KFOlCnqEu92Fr1MmWUlfCxc4EsA.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/KFOlCnqEu92Fr1MmWUlfChc4EsA.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/KFOlCnqEu92Fr1MmWUlfBBc4.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* Custom Styles Below */

.cms-main-div {

}

div.tl-content-full {
	
}

body > div.container > div.row > div > div > div > div > div > div > div.row > div > div > a {
    	min-width: 15em;
  	font-size: 3em;
  	padding: 0.5em;  
}

.tl-body .navbar .container-fluid {
    padding-left: 10px;
}

#Academy-nav-div {
    /* border: 1px solid red; */
    margin-left: 185px;
    margin-top: -29px;
    font-size: 1.65em;
    color: #2860b7;
    font-weight: 500;
    font-family: 'Nunito';
}

.btn-primary {
    background-color: #2860b7;
}

.tl-title {
    background-color: #2860b7;
}
