/* Custom Styles Below */
.cms-main-div {
}

div.tl-content-full {
}

body > div.container > div.row > div > div > div > div > div > div > div.row > div > div > a {
    min-width: 15em;
  	font-size: 3em;
  	padding: 0.5em;  
}

.tl-body .navbar .container-fluid {
    padding-left: 10px;
}

#Academy-nav-div {
    /* border: 1px solid red; */
    margin-left: 185px;
    margin-top: -29px;
    font-size: 1.65em;
    color: #2860b7;
    font-weight: 500;
    font-family: 'Nunito';
}

.btn-primary {
    background-color: #2860b7;
}

.tl-title {
    background-color: #2860b7;
}
body {
    font-family: "Nunito","Open Sans", "Trebuchet MS", arial, verdana, sans-serif;
}

/* flexbox */
/* container */
.padded-boxes {
 display:none!important;  
 display:flex;
 flex-wrap:wrap;
 gap:2rem;
}
/* boxes */
.padded-boxes > * {
 width:100%;
 background:#eee;
 border-radius:.4rem;
}
/* headings */
.padded-boxes .heading {
 background:#f97171;
 margin:0;
 padding:1rem;
 border-top-left-radius:.4rem;
 border-top-right-radius:.4rem;
}
/* padded content */
.padded-boxes .padded {
 padding:.1rem 1rem;
}
/* tablet breakpoint */
@media (min-width:768px) {
 .padded-boxes > * {
 width:calc((100% - 4rem) / 3);
 }
}

.cms-home-image img, 
.cms-banner-image img {
    margin: 0;
    max-width: 100%;
    width: 70%;
    margin: 5% 0 0 13.333%;
}
